= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message
  %h3= say_hello
  .flex-column
    %h4 in react you'd use .map, in rails, you would use a .each!
    .flex-row
      - props_arr.each do | item |
        %p= "array_item: #{item}" 
        &nbsp;
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
